<!DOCTYPE html>
<html>
<head>
	<title>Whiteboard Town Bank</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){
      $("#amount").focus();
    });
	</script>
</head>
<body>
	<h1>Whiteboard Town Bank</h1>
	<br/>
	
	<ul>
    <% @names.each do |name| %>
    <li><%= h name %> - $<%= @accounts[name] %></li>
    <% end %>
	</ul>
	
	<hr/>
	
	<div class="action-areas">
    <form action="add" method="post">
      Credit or Debit account: 
      <select id="account" name="account">
      <% @names.each do |name| %>
        <option><%= h name %></option>
      <% end %>
      </select>
      <input id="amount" type="number" value="10" name="amount" required/>
      <input type="submit" value="Add to Account">
    </form>
    
    <form action="transfer" method="post">
      Transfer from account  
      <select id="from" name="from">
      <% @names.each do |name| %>
        <option><%= h name %></option>
      <% end %>
      </select>
      to account 
      <select id="to" name="to">
      <% @names.each do |name| %>
        <option><%= h name %></option>
      <% end %>
      </select>
      <input id="amount" type="number" value="10" name="amount" required/>
      <input type="submit" value="Transfer Money">
    </form>
	</div>
	<a href="clear">Reset accounts</a> (you will be prompted to confirm)
	
</body>
</html>